.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3f3f3;
}

.footer__container {
    justify-content: space-between;
}

.logo__img {
    width: 120px;
}

.footer__contant-right,
.footer__contant-left {
    align-items: center;
}