.projects {
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #f3f3f3;
}

.projects__container {
    max-width: 1650px;
}

.projects__title {
    margin-bottom: 50px;
}

.projects__content {
    margin-bottom: 60px;
}

.projects__item {
    padding: 0 50px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: 48% 25%;
}

.projects__item__title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(3, 159, 23);
}

.projects__descr {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
}

.projects__bottom {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.projects-slider {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 450px;
}

.projects-slider__slide {
    position: relative;
    width: 500px;
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: -webkit-filter .3s;
    transition: filter .3s;
    transition: filter .3s,-webkit-filter .3s;
}

.projects-slider__slide:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.projects-slider__slide--1 {
    background-image: url(../../img/projects-1.jpg);
}

.projects-slider__slide--2 {
    background-image: url(../../img/projects-2.jpg);
}

.projects-slider__slide--3 {
    background-image: url(../../img/projects-3.jpg);
}

.projects-slider__slide--4 {
    background-image: url(../../img/projects-4.jpg);
}

.projects-slider__slide--5 {
    background-image: url(../../img/projects-5.jpg);
}

.projects-slider__slide--6 {
    background-image: url(../../img/projects-6.jpg);
}
.projects-slider__slide--7 {
    background-image: url(../../img/projects-7.jpg);
}

@media (max-width:1024px) {
    .projects__bottom {
        padding-right: 55px;
        padding-left: 55px;
    }
}

@media (max-width:1200px) {
    .projects__bottom {
        padding-right: 65px;
        padding-left: 65px;
    }
}